.signIn-email p {
  font-family: Jost;
  font-weight: 700;
  font-size: 16px;
  margin: 16px 0 10px;
}

.signIn-email input {
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  padding: 14px 0 10px 20px;
  width: 480px;
}

.signIn-password p {
  font-family: Jost;
  font-weight: 700;
  font-size: 16px;
  margin: 16px 0 10px;
}

.signIn-password input {
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  padding: 14px 0 10px 20px;
  width: 480px;
}

.signIn-text {
  font-family: Jost;
  font-weight: 400;
  font-size: 14px;
  margin: 16px 0 40px;
}

.signIn-button {
  background-color: #313037;
  color: #fff;
  font-family: Jost;
  font-weight: 500;
  font-size: 20px;
  padding: 16px 214px;
  text-transform: uppercase;
  border-width: 0;
  margin-bottom: 40px;
}
