.subscribe-wrapper {
  padding: 56px 64px;
  background-color: #f4eefd;
}

.subscribe-title {
  font-family: Cormorant;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  font-family: Jost;
  font-weight: 400;
  font-size: 18px;
  color: #a8a8a8;
}

.subscribe-input {
  display: flex;
  flex-direction: row;
  margin: 32px 0 0;
}

.subscribe-input input {
  padding: 16px 740px 16px 24px;
  border-width: 0;
  outline: 0;
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
}

.subscribe-button {
  background-color: #313037;
  color: #ffffff;
  font-family: Jost;
  font-weight: 500;
  font-size: 18px;
  border-width: 0;
}


