.registration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 108px 0 116px;
  border: 1px solid #e7e7e7e7;
}

.signIn-buttons {
  border-bottom: 1px solid #e7e7e7e7;
}

.signIn-buttons button {
  border-width: 0;
  font-family: Jost;
  font-weight: 500;
  font-size: 24px;
  padding: 24px 40px;
  background-color: #fff;
  color: #a8a8a8;
  text-transform: uppercase;
}

.signIn-buttons button:hover {
  color: #313037;
  border-bottom: 1px solid #313037;
}

.signIn-buttons button:active {
  color: #313037;
  border-bottom: 1px solid #313037;
}