.book-wrapper {
  max-width: 352px;
  padding: 10px;
  max-height: 454px;
}

.book-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7e4fd;
}

.book-img img {
  height: 264px;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  height: 150px;
}

.book-name {
  font-family: Jost;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.book-author {
  font-family: Jost;
  font-weight: 400;
  font-size: 14px;
}

.book-attributes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: Jost;
  font-weight: 700;
  font-size: 20px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-star {
  background-image: url(../assets/img/star.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.rating-starBlack {
  background-image: url(../assets/img/star-black.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
