@font-face {
  font-family: Cormorant;
  src: url(./assets/fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: Jost;
  src: url(./assets/fonts/Jost-Regular.ttf);
}



.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
